<div class="row" id="photo-<%= photo.id %>">
  <div class="col-md-8">
    <%= link_to (image_tag(photo.image.url, alt: "Uploaded image", class: "rounded")), photo %>
  </div>
  <div class="col-md-4">
    <h4><%= photo.user.name %></h4>
    <p><%= photo.description %></p>
    <%= link_to 'Show', photo, class: "btn btn-primary" %>
  </div>
</div>
<hr>
